@use "reset";
@use "variable" as v;
@use "main/header";
@use "main/nav";
@use "main/contentnav";
@use "main/main";
@use "laman";
@use "dark";
/* ========== Footer ========== */
#footer {
  background: v.$cl;
  padding: 25px 10px;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 -8px 15px rgba(0,0,0,.1);
  border-radius: 5px 5px 0 0;
  a {
    color: #fff;
    padding: 10px 10px;
    line-height: 35px;
  }
}
#darkBtn {
  position: absolute;
  top: v.$jt;
  right: v.$jt;
}
/* ==========  responsive  ========== */
@media only screen and (min-width:720px) {
  .BagianAtas {
    text-align: left !important;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    margin: auto;
  }
  header {
    text-align: right;
  }
  #darkBtn {
    right: 31vw !important;
  }
  .myread {
    grid-template-columns:auto auto
  }
  .kontenNav {
    /*navigasi desktop*/
    opacity: 100%;
    transform: translate(0,0);
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    width: 30%;
  }
  .navBtn {
    display: none;
  }
  .main,#footer {
    width: 70%;
  }
}
/* ==========  lazy load   ==========
#container {
  font-size: 20px;
  line-height: 30px;
  max-width: 600px;
}
#bg-image.lazy {
  background-image: none;
  background-color: #F1F1FA;
}
h2{
  padding: 5px;
  color: #00008b !important;
  margin-top: 50px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Serif !important;
  font-size: 1.5rem;
}
.nameSite {
  font-size: 35px;
  font-weight: bold;
}
.listPage p {
  background: rgb(0,0,0,.1);
  padding: 30px;
  border-radius: 5px;
} */
/*#bg-image {
  background-image: url("https://ik.imagekit.io/demo/img/image10.jpeg?tr=w-600,h-400");
  max-width: 600px;
  height: 400px;
}*/