@use "variable" as v;
.nav-icon{
  position: fixed!important;
  top: 5!important;
  right: 0!important;
  background-color: blue;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M14 19h-4c-.276 0-.5.224-.5.5s.224.5.5.5h4c.276 0 .5-.224.5-.5s-.224-.5-.5-.5zm0 2h-4c-.276 0-.5.224-.5.5s.224.5.5.5h4c.276 0 .5-.224.5-.5s-.224-.5-.5-.5zm.25 2h-4.5l1.188.782c.154.138.38.218.615.218h.895c.234 0 .461-.08.615-.218l1.187-.782zm3.75-13.799c0 3.569-3.214 5.983-3.214 8.799h-5.572c0-2.816-3.214-5.23-3.214-8.799 0-3.723 2.998-5.772 5.997-5.772 3.001 0 6.003 2.051 6.003 5.772zm4-.691v1.372h-2.538c.02-.223.038-.448.038-.681 0-.237-.017-.464-.035-.69h2.535zm-10.648-6.553v-1.957h1.371v1.964c-.242-.022-.484-.035-.726-.035-.215 0-.43.01-.645.028zm-3.743 1.294l-1.04-1.94 1.208-.648 1.037 1.933c-.418.181-.822.401-1.205.655zm10.586 1.735l1.942-1.394.799 1.115-2.054 1.473c-.191-.43-.423-.827-.687-1.194zm-3.01-2.389l1.038-1.934 1.208.648-1.041 1.941c-.382-.254-.786-.473-1.205-.655zm-10.068 3.583l-2.054-1.472.799-1.115 1.942 1.393c-.264.366-.495.763-.687 1.194zm13.707 6.223l2.354.954-.514 1.271-2.425-.982c.21-.397.408-.812.585-1.243zm-13.108 1.155l-2.356 1.06-.562-1.251 2.34-1.052c.173.433.371.845.578 1.243zm-1.178-3.676h-2.538v-1.372h2.535c-.018.226-.035.454-.035.691 0 .233.018.458.038.681z'/%3E%3C/svg%3E");
}
.main-nav {
  ul {
    li {
      &:hover{
        background: v.$bg2;
      }
      a {
        font-weight: bold;
        color:#fff;
        text-align: center;
      }
      flex: 1;
      padding: 15px 0;
      text-align: center;
    }
    display: flex;
    width:100vw ;
    text-align:center;
  }
  h1 {
    color: transparent;
  }
  background: v.$bg1;
  height: 50px;
  width: 100%;
  bottom: 0;
  position: fixed;
  z-index: 9;
}

/* responsive
header{
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 200'%3E%3Cdefs/%3E%3Cpath fill='white' fill-rule='evenodd' d='M306 41c-3 1-6 3-7 6v22c1 3 4 5 7 6h82c3-1 5-3 6-6V47c-1-3-3-5-5-6h-83m-194 5c-3 0-6 1-8 4l-3 5v3a222 222 0 01-3 13v5h-1v-1c-3-6-10-9-15-6l-5 2c-1 1-1 1 0 0 0-2-1-6-3-8-7-8-20-5-22 6a268 268 0 01-2 5 14 14 0 00-11 0h-1l-1 1-5 5a75 75 0 01-4 6 95 95 0 01-5 6 95 95 0 01-5 7 95 95 0 01-5 6 95 95 0 01-3 4l-2 4c-2 3-1 9 1 11l1 1 3 3a33 33 0 012 2l2 1a36 36 0 004 3l1 1a17 17 0 002 1 34 34 0 003 3h1l1 1 1 1a40 40 0 005 4 77 77 0 007 5 32 32 0 002 2 16 16 0 004 2h7c6-2 9-6 9-13a79 79 0 012-9v-2l1-3a204 204 0 001-4c4 7 14 9 20 3 1-1 1-1 1 1v6a10 10 0 001 3l4 4c6 3 13 2 17-4l2-9 1-1h2a14 14 0 009 0 30 30 0 013-1 14 14 0 004-4 96 96 0 007-9 94 94 0 015-7 85 85 0 015-7 875 875 0 007-9 13 13 0 00-4-17 95 95 0 00-10-7 333 333 0 01-17-13c-6-6-9-7-13-6m206 5c4 1 6 3 6 5v2c2 2 2 5-1 6l-8 1c-7 0-7 0-7-7 0-6 0-6 2-7h8m24 0c1 1 2 2 1 3l-6 1-4 1h4c5 0 7 0 7 2s-1 2-7 2h-4l4 1 6 1c1 1 0 2-1 2a36 36 0 01-13 0l-1-1c-2-1-2-3-1-4v-2c-1-2 0-5 4-6h11m19 0c4 1 3 4-2 4l-2 1v3c0 5 0 6-3 6s-3-1-3-6v-3h-2c-4 0-6-3-2-5h14m16 1h1v1h1v1a194 194 0 016 9c0 1-1 2-3 2l-4-2-1-2h-4l-1 1c-2 2-2 3-4 3s-3-1-3-2l2-4 3-4c3-4 4-5 7-3m-62 4h1-1m0 4l2 1 2-1h-4m-48 20c-2 0-4 2-5 4v22l1 23c2 4 7 6 11 4s5-4 5-14v-6h6a10 10 0 003-1l5-2c4-3 6-8 6-14a19 19 0 00-1-6 19 19 0 00-4-6 20 20 0 00-4-3l-5-1h-18m-143 3a27 27 0 012 1l1 1-1 1v1a95 95 0 00-6 7v-3-2a294 294 0 011-7l3 1m31 13c-4 1-7 4-7 7v25l1 1v1l5 4h21c3-1 5-4 6-7v-24c-2-9-14-9-17 0 0 1 0 0 0 0 0-2-2-4-4-5l-5-2m35 0c-4 1-6 3-7 6l-1 14 1 13c3 5 10 6 14 2 2-2 2-3 2-10v-5h15c8-3 8-13 0-16l-9-1h-8c-2-2-5-3-7-3m40 4c-7 1-9 9-4 15l4 5-1 1a45 45 0 00-3 4l-1 1v1l-1 1-1 4c0 9 10 12 16 5a133 133 0 019-12 247 247 0 007-9c3-3 5-8 3-11v-1c-3-5-10-6-14-2l-1 2-2 2-2-2a20 20 0 00-3-3l-6-1m-184 6a178 178 0 00-3 13 36 36 0 01-4-4h-1l1-2a184 184 0 014-5c3-4 3-4 3-2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
  }
  */
